<h1>All the Produce</h1>
<section>
  <h2>Add new Produce</h2>
  <%= form_for @form, Routes.inventory_path(@conn, :add), [as: :produce], fn f -> %>
    <%= label(f, :name) %>
    <%= text_input(f, :name) %>
    <%= error_tag(f, :name) %>

    <%= label(f, :quantity) %>
    <%= number_input(f, :quantity) %>
    <%= error_tag(f, :quantity) %>

    <%= submit "Add Produce" %>
  <% end %>
</section>
